#date {
    background-color: powderblue;
    font-family: Candara;
    font-size: 18px;
}

#before {
    background-color: powderblue;
    font-family: Candara;
    font-size: 18px;
}

#after {
    background-color: powderblue;
    font-family: Candara;
    font-size: 18px;
}
