#date {
    background-color: powderblue;
    font-family: Candara;
    font-size: 110%
}

#before {
    background-color: powderblue;
    font-family: Candara;
    font-size: 110%
}

#after {
    background-color: powderblue;
    font-family: Candara;
    font-size: 110%
}
